{% extends "layout.html" %}
{% block content %}
    <h1>This is my home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum quae sit cupiditate perferendis doloribus pariatur ab magni repellendus minima libero explicabo sequi, eius ipsam saepe itaque quis unde molestiae rem. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusantium omnis architecto id nisi blanditiis autem sit! Consequuntur quas aut aliquam, rem, molestiae a tempore perferendis consectetur cumque laudantium placeat.</p>
{% endblock content %}
