{% extends "layout_sidebar.html" %}
{% block content %}
    <div class="row row-cols-1 row-cols-md-1 g-4">
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../static/images/desenho.svg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="d-flex flex-column col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Conversão PU</h5>
                            <p class="card-text">Com esta ferramenta você poderá converter um modelo de sistema elétrico de potência em seu equivalente em pu a partir das características dos componentes, suas ligações e as grandezas base da rede, tensão e potência de base.</p>                            
                        </div>
                        <div class="d-flex justify-content-end p-3">
                            <a href="{{ url_for('pu_conversion') }}" class="p-2 btn btn-primary">Utilizar ferramenta</a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../static/images/MAN.svg " class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="d-flex flex-column col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Matriz de Admitância Nodal</h5>
                            <p class="card-text">Com esta ferramenta Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, maiores! Id at debitis earum incidunt harum architecto ea! Inventore molestiae repellat quam quaerat eligendi vel, quod voluptatibus officiis quisquam eaque.</p>                            
                        </div>
                        <div class="d-flex justify-content-end p-3">
                            <a href="#" class="p-2 btn btn-primary">Utilizar ferramenta</a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../static/images/RN.svg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="d-flex flex-column col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Redução de Nós</h5>
                            <p class="card-text">Com esta ferramenta Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, maiores! Id at debitis earum incidunt harum architecto ea! Inventore molestiae repellat quam quaerat eligendi vel, quod voluptatibus officiis quisquam eaque.</p>                            
                        </div>
                        <div class="d-flex justify-content-end p-3">
                            <a href="#" class="p-2 btn btn-primary">Utilizar ferramenta</a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../static/images/PFC.svg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="d-flex flex-column col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Resolução do PFC</h5>
                            <p class="card-text">Com esta ferramenta Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, maiores! Id at debitis earum incidunt harum architecto ea! Inventore molestiae repellat quam quaerat eligendi vel, quod voluptatibus officiis quisquam eaque.</p>                            
                        </div>
                        <div class="d-flex justify-content-end p-3">
                            <a href="#" class="p-2 btn btn-primary">Utilizar ferramenta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../static/images/CC.svg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="d-flex flex-column col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Análise de Curto-circuito</h5>
                            <p class="card-text">Com esta ferramenta Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, maiores! Id at debitis earum incidunt harum architecto ea! Inventore molestiae repellat quam quaerat eligendi vel, quod voluptatibus officiis quisquam eaque.</p>                            
                        </div>
                        <div class="d-flex justify-content-end p-3">
                            <a href="#" class="p-2 btn btn-primary">Utilizar ferramenta</a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../static/images/ABI.svg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="d-flex flex-column col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Análise básica de instabilidade</h5>
                            <p class="card-text">Com esta ferramenta Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, maiores! Id at debitis earum incidunt harum architecto ea! Inventore molestiae repellat quam quaerat eligendi vel, quod voluptatibus officiis quisquam eaque.</p>                            
                        </div>
                        <div class="d-flex justify-content-end p-3">
                            <a href="#" class="p-2 btn btn-primary">Utilizar ferramenta</a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
{% endblock content %}
