{% extends "layout.html" %}
{% block content %}
    <div class="mx-auto p-0 w-75">
        <div class="row border border-dark rounded p-0 m-0 my-1 bg-light">
            {% for component in component_list %}
                {% if component.name == 'Classe Conversão PU' %}
                    <div class="m-0 p-0 text-center">
                        <h1 class="h2 m-0 p-0">Conversão PU</h1>
                        {% for attr, value in component.__dict__.items() %}
                            {% if attr == 'sys_power' %}
                                <p class="m-0 p-0">{{ value.name }}: {{ round(value.mag.real, 4) }} {{ value.multiplier }}{{ value.measurement_unit }}</p>
                            {% endif %}
                            {% if attr == 'sys_voltage' %}
                                <p class="m-0 p-0">{{ value['nominal'].name }}: {{ value['nominal'].mag }} {{ value['nominal'].multiplier }}{{ value['nominal'].measurement_unit }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center row border border-dark rounded bg-light p-0 m-0">
            {% for component in component_list %}
                {% if component.name != 'Classe Conversão PU' %}
                    <div class="row p-0 mx-0 my-0">
                        <h2 class="h4 text-center">{{ component.name }} {{ component.id }}</h2>
                    </div>
                    <div class="row p-0 my-0 mb-4">
                        {% for attr, value in component.__dict__.items() %}
                            {% if 'power' in attr %}
                                <p class="text-center p-0 m-0"><span class="fw-bold">Potência:</span> {{ value['nominal'].mag }}{{ value['nominal'].multiplier }}{{ value['nominal'].measurement_unit }}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                    </svg>
                                    {{ round(value['pu'].real, 4) + round(value['pu'].imag, 4) }}j pu
                                </p>
                            {% elif 'voltage' in attr %}
                                <p class="text-center p-0 m-0"><span class="fw-bold">Tensão:</span> {{ value['nominal'].mag }}{{ value['nominal'].multiplier }}{{ value['nominal'].measurement_unit }}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                    </svg>
                                    {{ round(value['pu'].real, 4) + round(value['pu'].imag, 4) }}j pu
                                </p>
                            {% elif 'impedance' in attr %}
                                {% if 'impedance' in attr and 'shunt' not in attr %}
                                    <p class="text-center p-0 m-0"><span class="fw-bold">Impedância Série:</span> {{ round(value['nominal'].mag.real, 4) + round(value['nominal'].mag.imag, 4) }}j {{ value['nominal'].multiplier }}{{ value['nominal'].measurement_unit }}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                        </svg>
                                        {{ round(value['pu'].real, 4) + round(value['pu'].imag, 4) }}j pu
                                    </p>
                                {% else %}
                                    {% if 'per' not in attr %}
                                        <p class="text-center p-0 m-0"><span class="fw-bold">Impedância Shunt:</span> {{ round(value['nominal'].mag.real, 4) + round(value['nominal'].mag.imag, 4) }}j {{ value['nominal'].multiplier }}{{ value['nominal'].measurement_unit }}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                            </svg>
                                            {{ round(value['pu'].real, 4) + round(value['pu'].imag, 4) }}j pu
                                        </p>
                                    {% else %}
                                        <p class="text-center p-0 m-0"><span class="fw-bold">Impedância Shunt nos Terminais:</span> {{ round(value['nominal'].mag.real, 4) + round(value['nominal'].mag.imag, 4) }}j {{ value['nominal'].multiplier }}{{ value['nominal'].measurement_unit }}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                            </svg>
                                            {{ round(value['pu'].real, 4) + round(value['pu'].imag, 4) }}j pu
                                        </p>
                                    {% endif %}
                                {% endif %}
                            {% elif 'pf' in attr %}
                                <p class="text-center p-0 m-0"><span class="fw-bold">Fator de Potência:</span> {{ value.pf }} {{ value.characteristic }}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                    </svg>
                                    {{ value.pf }} {{ value.characteristic }}
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row m-0 my-2 p-0">
            <form method="POST" action="" class="m-0 p-0">
                {{ clear_obj_form.hidden_tag() }}
                {{ clear_obj_form.submit_clear(class="btn btn-secondary m-0 w-100") }}
            </form>
        </div>
    </div>
{% endblock content %}